@if (showShell()) {
  <mat-sidenav-container class="h-full">
    <mat-sidenav #sidenav [mode]="sidenavMode()" [opened]="sidenavOpened()" class="w-60 rounded-none!"
               style="background-color: var(--mat-sys-surface-container)">
      <mat-toolbar class="text-lg! font-semibold!"
                   style="background-color: var(--mat-sys-primary); color: var(--mat-sys-on-primary)">
        Wine Cellar
      </mat-toolbar>
      <mat-nav-list>
        @for (item of navItems(); track item.label) {
          @if (item.children) {
            <mat-list-item class="cursor-pointer!" (click)="toggleSection(item.label)">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              <span matListItemTitle class="flex items-center justify-between pr-2">
                <span>{{ item.label }}</span>
                <mat-icon class="transition-transform duration-200"
                          [class.rotate-180]="expandedSections()[item.label] !== false">
                  expand_more
                </mat-icon>
              </span>
            </mat-list-item>
            @if (expandedSections()[item.label] !== false) {
              @for (child of item.children; track child.label) {
                <a mat-list-item [routerLink]="child.path"
                   routerLinkActive="!bg-black/10"
                   (click)="closeSidenavIfMobile()"
                   class="pl-4!">
                  @if (child.color) {
                    <span matListItemIcon class="flex items-center justify-center">
                      <span class="w-3 h-3 rounded-sm" [style.backgroundColor]="child.color"></span>
                    </span>
                  } @else {
                    <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
                  }
                  <span matListItemTitle>{{ child.label }}</span>
                </a>
              }
            }
          } @else {
            <a mat-list-item [routerLink]="item.path"
               routerLinkActive="!bg-black/10"
               [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
               (click)="closeSidenavIfMobile()">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              <span matListItemTitle>{{ item.label }}</span>
            </a>
          }
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar style="background-color: var(--mat-sys-primary); color: var(--mat-sys-on-primary)">
        <button mat-icon-button (click)="sidenav.toggle()" style="color: inherit">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="flex-1"></span>
        @if (user(); as u) {
          <span class="text-sm mr-4">{{ u.userName }}</span>
        }
        <button mat-icon-button (click)="logout()" matTooltip="Logout" style="color: inherit">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

      <div class="flex justify-center p-0 md:px-4 md:py-6 w-full">
        <div class="w-full max-w-4xl">
          <router-outlet />
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet />
}
